/* Hide the #T and #high tags */
.f74636 table a[href="#high"],
.f74636 table a[href="#T"] {
  display: none;
}


/* Do changes to our marked table */
.f74636 table:has(a[href="#T"]) {
  
  border: 1px solid black;

  & th, & td {
    border-collapse: collapse;
    padding: 8px;
  }

  & thead th {
    width: 25%;
    background-color: #666666;
    color: #fff;
    text-align: left;
    font-size: 0.875 rem;
    text-transform: uppercase;
    letter-spacing: 2%;
  }

  & tbody tr:nth-child(even) {
    background-color: #eee;
  }

  & tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  & td:has(a[href="#high"]) {
    background-color: #dfc76c;
    font-weight: bold;
  }
}