/* https://lucide.dev/ for icons */

.callout[data-callout="contacts"] {
  --callout-color: 246, 189, 96;
  --callout-icon: lucide-users;
}

.callout[data-callout="documentation"] {
  --callout-color: 132, 165, 156;
  --callout-icon: lucide-scroll;
}

.callout[data-callout="terminal"] {
  --callout-color: 132, 165, 156;
  --callout-icon: lucide-terminal;
}

